.module__inner .pos-rel {
  display: none;
}

.oprah-promo-img {
  -webkit-transition: .25s;
  -o-transition: .25s;
  transition: .25s;
}

.oprah-promo-img:hover {
  transform: scale(1.02);
}

.oprah-divider {
  margin: 0;
}

.oprah-badge img {
  width: 100%;
}

.formHolder {
  text-align: left;
  position: relative;
  bottom: 35px;
}

#mobile-o-list {
  display: none;
}

@media (max-width: 767px) {
  .oprah-copy {
    text-align: center;
  }

  .oprah-badge {
    text-align: center;
  }

  .oprah-divider {
    margin: 0 auto;
  }

  .oprah-badge img {
    width: 150px;
  }

  #o-list {
    display: none;
  }

  #mobile-o-list {
    display: inline-block;
    width: 225px;
  }

  .formHolder {
    left: 12px;
  }

  #oprah-title {
    font-size: 2.85714rem;
  }

  .footer-mobile__social {
    padding: 20.5px 25px !important;
  }
}

.oprah-divider {
  display: block;
  padding-bottom: 0px;
  width: 100px;
  border-top: 3px solid #c59617;
}

.footer-mobile__social {
  padding: 20.5px 0;
}

/* 
.unwanted {
  display: none
} */