.container{
    height: auto;
    overflow: visible;
}

html,body {
    font: 14px/1.78571 "Apres RE",Arial,Times,"Times New Roman",serif;
    color: #000;
    background: #fff;
    -webkit-font-smoothing: antialiased
}

body {
    background-color: #fff;
    min-width: 320px
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    background-color: #000;
    background-color: rgba(0,0,0,0.88);
    z-index: 500
}

.wrapper--header {
    position: relative
}

.wrapper--main{
    width: 96%;
    max-width: 1040px;
}

@media only screen and (min-width: 1050px) {
    .logo-container {
        position:absolute;
    }
}

a {
    color: #c59617;
    font-family: "Apres RE",Arial,Times,"Times New Roman",serif;
    font-style: italic;
    text-decoration: none;
    text-transform: uppercase
}

.logo--desktop,.logo--mobile {
    position: relative;
    z-index: 10
}

@media only screen and (max-width: 1049px) {
    .hide-below-desk {
        display:none
    }
}

.wrapper,.wrapper--main,.flyout__links-wrap,.wrapper--main-mobile-full,.wrapper--wide,.wrapper--wide-padded,.wrapper--narrow,.module__inner,.cambi {
    margin-left: auto;
    margin-right: auto
}

.anchor--plain {
    color: inherit;
    letter-spacing: normal;
    font-family: "Apres RE",Arial,Times,"Times New Roman",serif;
    font-style: normal;
    text-transform: none
}

.loc-dropdown__img>img {
    transform: translateY(-20px);
    transition: transform .4s ease
}

.loc-dropdown__img {
    height: 0;
    transition: height .4s ease;
    overflow: hidden
}

img[width],img[height] {
    max-width: none
}

.loc-dropdown__cta {
    padding: 0.5rem 0;
    line-height: 1.1;
    border-top: 1px solid rgba(140,130,90,0.5)
}


/* .loc-dropdown {
    display: block;
    top: 98px;
} */


.loc-dropdown__cta__upper {
    font-size: 0.9rem;
    color: #dbac40;
    text-transform: uppercase;
    font-weight: bold
}

.loc-dropdown__cta__upper span {
    font-size: 1.3rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px
}

.loc-dropdown__cta__lower {
    margin-top: 0.3rem;
    text-transform: uppercase
}

.loc-dropdown {
    display: block;
    position: absolute;
    top: 98px;
    left: 0;
    width: 135px;
    z-index: 12;
    text-align: center;
    background: black;
    color: #8c825a;
    font-weight: 100;
    border-top: 1px solid rgba(140,130,90,0.5);
    box-shadow: 0px 5px 30px -6px black
}

.open .loc-dropdown__img {
    height: 135px
}

.loc-dropdown__img>img {
    transform: translateY(-20px);
    transition: transform .4s ease
}

.open .loc-dropdown__img>img {
    transform: translateY(0)
}

.loc-dropdown__cta {
    padding: 0.5rem 0;
    line-height: 1.1;
    border-top: 1px solid rgba(140,130,90,0.5)
}

.loc-dropdown__cta__upper {
    font-size: 0.9rem;
    color: #dbac40;
    text-transform: uppercase;
    font-weight: bold
}

.loc-dropdown__cta__upper span {
    font-size: 1.3rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px
}

.loc-dropdown__cta__lower {
    margin-top: 0.3rem;
    text-transform: uppercase
}

.loc-dropdown__handle {
    border: none;
    border-top: 1px solid rgba(140,130,90,0.5);
    background: none;
    cursor: pointer;
    width: 100%;
    padding: 0.3rem 0 0.5rem
}

.loc-dropdown__handle>svg {
    transition: transform .5s ease;
    transform: rotate(180deg)
}

.open .loc-dropdown__handle>svg {
    transform: rotate(0deg)
}

*,*:before,*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}
