.module {
    position: relative;
    overflow: hidden;
}

@media only screen and (max-width: 767px) {
    .module {
        min-height:0
    }
}

.generic-mod--tall .module__inner {
    padding-top: 50px;
    padding-top: 3.57143rem;
    padding-bottom: 75px;
    padding-bottom: 5.35714rem
}

@media only screen and (min-width: 768px) {
    .generic-mod--tall .module__inner {
        padding-top:75px;
        padding-top: 5.35714rem;
        padding-bottom: 100px;
        padding-bottom: 7.14286rem
    }
}

.generic-mod--tall--bottomless .module__inner {
    padding-top: 25px;
    padding-top: 1.78571rem;
    padding-bottom: 0
}

@media only screen and (min-width: 768px) {
    .generic-mod--tall--bottomless .module__inner {
        padding-top:37.5px;
        padding-top: 2.67857rem;
        padding-bottom: 100px;
        padding-bottom: 7.14286rem
    }
}

.generic-mod--taller .module__inner {
    padding-top: 50px;
    padding-top: 3.57143rem;
    padding-bottom: 75px;
    padding-bottom: 5.35714rem
}

@media only screen and (min-width: 768px) {
    .generic-mod--taller .module__inner {
        padding-top:75px;
        padding-top: 5.35714rem;
        padding-bottom: 125px;
        padding-bottom: 8.92857rem
    }
}

.dark-on-light {
    color: #000;
    background-color: #fff
}

.dark-on-light .overlay {
    background: #fff;
    background: rgba(255,255,255,0.97)
}

.dark-on-light>.two-up-module__bg-fader {
    background-color: white
}

.wrapper--wide {
    max-width: 1550px
}

.experience-modal .optional-promo-mobile .module__inner .wrapper--wide {
    margin-top: 152px
}

.carousel--copy-overlay {
    margin-bottom: -4px;
    overflow: hidden;
    position: relative
}

.carousel--copy-overlay .desktop-image,.carousel--copy-overlay .mobile-image {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0
}

.carousel--copy-overlay .desktop-image {
    display: none
}

@media only screen and (min-width: 768px) {
    .carousel--copy-overlay .mobile-image {
        display:none
    }

    .carousel--copy-overlay .desktop-image {
        display: block
    }
}

.carousel--copy-overlay .overlay {
    background: black;
    background: rgba(0,0,0,0.88);
    color: white
}

.carousel--copy-overlay .overlay--light {
    background: white;
    background: rgba(255,255,255,0.88);
    color: black
}

.carousel--copy-overlay .overlay--dark {
    background: black;
    background: rgba(0,0,0,0.88);
    color: white
}

.carousel--copy-overlay .owl-wrapper-outer {
    display: table;
    height: 100%
}

.carousel--copy-overlay .owl-item {
    display: table-cell;
    height: 100%
}

.carousel--copy-overlay .owl-item .item,.carousel--copy-overlay .owl-item .module__inner {
    height: 100%
}

.carousel {
    position: relative
}

.module__inner {
    max-width: 1550px
}

@media only screen and (min-width: 768px) {
    .module__inner {
        background-position:center top;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-repeat: no-repeat
    }
}

.modules .module:first-child .module__inner {
    padding-top: 60px
}

@media only screen and (min-width: 1050px) {
    .modules .module:first-child .module__inner {
        padding-top:200px
    }
}

.modules .module-carousel:first-child .module__inner {
    padding-top: 0
}

@media only screen and (min-width: 1050px) {
    .modules .module-carousel:first-child .module__inner {
        padding-top:104px
    }
}

@media only screen and (min-width: 1050px) {
    .modules .generic-mod--lg:first-child .module__inner {
        padding-top:300px
    }
}

.lt-ie9 .module__inner {
    -ms-behavior: url(/public/stylesheets/backgroundsize.min.htc)
}

.module__inner.module__mobile-bg {
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat
}

@media only screen and (min-width: 768px) {
    .module__inner.module__mobile-bg {
        background-image:none !important;
        padding-top: 0 !important;
        padding-bottom: 0 !important
    }
}

@media only screen and (max-width: 767px) {
    .module__inner.module__desktop-bg {
        background-image:none !important
    }

    .module__inner.module__desktop-bg.module__desktop-bg--has-mobile-bg {
        padding-top: 0 !important;
        padding-bottom: 0 !important
    }
}

.main-content-mod .module__inner {
    padding-top: 25px;
    padding-top: 1.78571rem;
    padding-bottom: 25px;
    padding-bottom: 1.78571rem
}

@media only screen and (max-width: 767px) {
    .main-content-mod .module__inner.module__desktop-bg-no-mobile {
        padding-top:25px !important;
        padding-top: 1.78571rem !important;
        padding-bottom: 25px !important;
        padding-bottom: 1.78571rem !important
    }
}

@media only screen and (min-width: 768px) {
    .main-content-mod .module__inner {
        padding-top:100px;
        padding-top: 7.14286rem;
        padding-bottom: 320px;
        padding-bottom: 22.85714rem
    }
}

.generic-mod .module__inner {
    padding-top: 25px;
    padding-top: 1.78571rem;
    padding-bottom: 25px;
    padding-bottom: 1.78571rem
}

@media only screen and (min-width: 768px) {
    .generic-mod .module__inner {
        padding-top:50px;
        padding-top: 3.57143rem;
        padding-bottom: 50px;
        padding-bottom: 3.57143rem
    }
}

.generic-mod--sm .module__inner {
    padding-top: 25px;
    padding-top: 1.78571rem;
    padding-bottom: 25px;
    padding-bottom: 1.78571rem
}

.generic-mod--med .module__inner {
    padding-top: 50px;
    padding-top: 3.57143rem;
    padding-bottom: 50px;
    padding-bottom: 3.57143rem
}

@media only screen and (min-width: 768px) {
    .generic-mod--med .module__inner {
        padding-top:75px;
        padding-top: 5.35714rem;
        padding-bottom: 75px;
        padding-bottom: 5.35714rem
    }
}

.generic-mod--lg .module__inner {
    padding-top: 75px;
    padding-top: 5.35714rem;
    padding-bottom: 75px;
    padding-bottom: 5.35714rem
}

@media only screen and (min-width: 768px) {
    .generic-mod--lg .module__inner {
        padding-top:250px;
        padding-top: 17.85714rem;
        padding-bottom: 200px;
        padding-bottom: 14.28571rem
    }
}

.generic-mod--tall .module__inner {
    padding-top: 50px;
    padding-top: 3.57143rem;
    padding-bottom: 75px;
    padding-bottom: 5.35714rem
}

@media only screen and (min-width: 768px) {
    .generic-mod--tall .module__inner {
        padding-top:75px;
        padding-top: 5.35714rem;
        padding-bottom: 100px;
        padding-bottom: 7.14286rem
        /* padding-bottom:356px; */
    }
}

.generic-mod--tall--bottomless .module__inner {
    padding-top: 25px;
    padding-top: 1.78571rem;
    padding-bottom: 0
}

@media only screen and (min-width: 768px) {
    .generic-mod--tall--bottomless .module__inner {
        padding-top:37.5px;
        padding-top: 2.67857rem;
        padding-bottom: 100px;
        padding-bottom: 7.14286rem
    }
}

.generic-mod--taller .module__inner {
    padding-top: 50px;
    padding-top: 3.57143rem;
    padding-bottom: 75px;
    padding-bottom: 5.35714rem
}

@media only screen and (min-width: 768px) {
    .generic-mod--taller .module__inner {
        padding-top:75px;
        padding-top: 5.35714rem;
        padding-bottom: 125px;
        padding-bottom: 8.92857rem
    }
}

.modules .module:first-child .module__inner {
    padding-top: 60px
}

@media only screen and (min-width: 1050px) {
    .modules .module:first-child .module__inner {
        padding-top:200px
    }
}

.modules .module-carousel:first-child .module__inner {
    padding-top: 0
}

@media only screen and (min-width: 1050px) {
    .modules .module-carousel:first-child .module__inner {
        padding-top:104px
    }
}

@media only screen and (min-width: 1050px) {
    .modules .generic-mod--lg:first-child .module__inner {
        padding-top:300px
    }
}

.dealer-locator-modules .module:not(.dealer-locator-modal) {
    height: 0
}

.dealer-locator-modules .module:not(.dealer-locator-modal).visible-with-results {
    height: auto
}

.wrapper--main,.flyout__links-wrap,.wrapper--main-mobile-full {
    width: 96%;
    max-width: 1040px
}

@media only screen and (max-width: 767px) {
    .wrapper--main,.flyout__links-wrap,.wrapper--main-mobile-full {
        width:90%
    }
}

@media only screen and (max-width: 767px) {
    .wrapper--main-mobile-full {
        width:100%
    }
}

.overlay {
    margin-left: auto;
    margin-right: auto;
    max-width: 480px;
    position: relative;
    width: 90%;
    text-align: center;
    padding: 25px;
    padding: 1.78571rem
}

.dark-on-light .overlay {
    background: #fff;
    background: rgba(255,255,255,0.97)
}

@media only screen and (min-width: 768px) {
    .overlay--right {
        padding:50px;
        padding: 3.57143rem;
        margin-right: 0
    }
}

.overlay--right {
    text-align: left
}

@media only screen and (min-width: 768px) {
    .overlay {
        background:#000;
        background: rgba(0,0,0,0.88);
        max-width: 55%
    }
}

.overlay__header {
    line-height: 1.2;
    margin-bottom: .2em;
    position: relative
}

.h3,.wysiwyg h3 {
    line-height: 1.4;
    font-size: 40px;
    font-size: 2.85714rem
}

.h3,.wysiwyg h3 {
    line-height: 1.4;
    font-size: 40px;
    font-size: 2.85714rem
}

.h1,.wysiwyg h1,.h2,.wysiwyg h2,.h3,.wysiwyg h3,.h4,.wysiwyg h4,.h6,.wysiwyg h6 {
    font-family: "BodoniBook","Bodoni MT","Times New Roman","Garamond",serif;
    word-spacing: normal
}

.overlay__body-text.font-body {
    font-size: 1em
}

.font-bodoni--fix {
    letter-spacing: 0.05em
}

.font-body {
    font-family: "Apres RE",Arial,Times,"Times New Roman",serif !important
}

.overlay__body-text {
    font-family: "BodoniItalic","Bodoni MT","Times New Roman","Garamond",serif;
    font-size: 1.4em;
    line-height: 1.5
}

.landmark {
    margin-bottom: 25px;
    margin-bottom: 1.78571rem
}

.island,.islet,.landmark {
    display: block;
}

p:last-child {
    margin-bottom: 0
}

p {
    margin-bottom: 25px;
    margin-bottom: 1.78571rem
}

.sup,.wysiwyg sup,.sub,.wysiwyg sub {
    vertical-align: baseline;
    position: relative;
    top: -0.6em;
    font-size: .6em
}

.island:after,.islet:after,.landmark:after {
    clear: both
}

.island:before,.island:after,.islet:before,.islet:after,.landmark:before,.landmark:after {
    display: table;
    content: ""
}

.btn--plain,.btn--plain--large {
    text-decoration: none;
    color: #fff;
    background-color: #c59617;
    padding: .3em 1em;
    text-transform: uppercase;
    line-height: 2;
    font-family: "Apres RE",Arial,Times,"Times New Roman",serif;
    font-style: normal;
    font-weight: bold;
    font-size: .85em;
    letter-spacing: .05em;
    display: inline-block;
    *display: inline;
    zoom:1;-webkit-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    transition: background-color 0.2s
}

.btn--plain:hover,.btn--plain:active,.btn--plain:focus,.btn--plain--large:hover,.btn--plain--large:active,.btn--plain--large:focus {
    text-decoration: none;
    background-color: #e5b020
}

#appointmentModal a:not(.btn--plain),#thanksModal a:not(.btn--plain) {
    text-decoration: underline;
    text-transform: none
}

#appointmentModal a:not(.btn--plain):hover,#thanksModal a:not(.btn--plain):hover {
    text-decoration: none
}

.text--center {
    text-align: center !important
}

.landmark--double {
    margin-bottom: 50px;
    margin-bottom: 3.57143rem
}

@media only screen and (min-width: 768px) {
    .lap-one-whole {
        width:100%
    }

    .lap-one-half,.lap-two-quarters,.lap-three-sixths,.lap-four-eighths,.lap-five-tenths,.lap-six-twelfths {
        width: 50%
    }

    .lap-one-third,.lap-two-sixths,.lap-four-twelfths {
        width: 33.333%
    }

    .lap-two-thirds,.lap-four-sixths,.lap-eight-twelfths {
        width: 66.666%
    }

    .lap-one-quarter,.lap-two-eighths,.lap-three-twelfths {
        width: 25%
    }

    .lap-three-quarters,.lap-six-eighths,.lap-nine-twelfths {
        width: 75%
    }

    .lap-one-fifth,.lap-two-tenths {
        width: 20%
    }

    .lap-two-fifths,.lap-four-tenths {
        width: 40%
    }

    .lap-three-fifths,.lap-six-tenths {
        width: 60%
    }

    .lap-four-fifths,.lap-eight-tenths {
        width: 80%
    }

    .lap-one-sixth,.lap-two-twelfths {
        width: 16.666%
    }

    .lap-five-sixths,.lap-ten-twelfths {
        width: 83.333%
    }

    .lap-one-eighth {
        width: 12.5%
    }

    .lap-three-eighths {
        width: 37.5%
    }

    .lap-five-eighths {
        width: 62.5%
    }

    .lap-seven-eighths {
        width: 87.5%
    }

    .lap-one-tenth {
        width: 10%
    }

    .lap-three-tenths {
        width: 30%
    }

    .lap-seven-tenths {
        width: 70%
    }

    .lap-nine-tenths {
        width: 90%
    }

    .lap-one-twelfth {
        width: 8.333%
    }

    .lap-five-twelfths {
        width: 41.666%
    }

    .lap-seven-twelfths {
        width: 58.333%
    }

    .lap-eleven-twelfths {
        width: 91.666%
    }
}

.gw--wide,.grid-wrapper--wide {
    margin-left: -50px;
    margin-left: -3.57143rem
}

.gw,.grid-wrapper,.dsgn-action-list {
    list-style: none;
    margin-bottom: 0;
    margin-left: -25px;
    margin-left: -1.78571rem;
}

.h2,.wysiwyg h2 {
    line-height: 1.2;
    font-size: 60px;
    font-size: 4.28571rem
}

.heading {
    display: block;
    margin-bottom: .4em
}

.divider-simple {
    text-align: center;
    margin: 12.5px 0 25px
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

.csstransitions .divider-simple.animated>span {
    width: 100px
}

.csstransitions .divider-simple>span {
    width: 0
}

.divider-simple>span {
    display: block;
    width: 100px;
    height: 3px;
    margin: 0 auto;
    background-color: #c59617;
    -webkit-transition: width 0.5s;
    -o-transition: width 0.5s;
    transition: width 0.5s
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translate3d(100%, 0, 0)
    }

    to {
        opacity: 1;
        transform: none
    }
}

.fadeInRight {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: fadeInRight
}

.gw--wide,.grid-wrapper--wide {
    margin-left: -50px;
    margin-left: -3.57143rem
}

.gw:before,.gw:after,.grid-wrapper:before,.dsgn-action-list:before,.grid-wrapper:after,.dsgn-action-list:after {
    display: table;
    content: ""
}

.gw:after,.grid-wrapper:after,.dsgn-action-list:after {
    clear: both
}

.gw--wide .g,.grid-wrapper--wide .grid,.grid-wrapper--wide .dsgn-action-list_show,.grid-wrapper--wide .dsgn-action-list_order {
    padding-left: 50px;
    padding-left: 3.57143rem
}

.g,.grid,.dsgn-action-list_show,.dsgn-action-list_order {
    float: left;
    width: 100%;
    padding-left: 25px;
    padding-left: 1.78571rem;
    -webkit-transition: width 0.2s ease;
    -o-transition: width 0.2s ease;
    transition: width 0.2s ease
}

img {
    max-width: 100%;
    -ms-interpolation-mode: bicubic
}

@media only screen and (min-width: 768px) {
    .lap-one-whole {
        width:100%
    }

    .lap-one-half,.lap-two-quarters,.lap-three-sixths,.lap-four-eighths,.lap-five-tenths,.lap-six-twelfths {
        width: 50%
    }

    .lap-one-third,.lap-two-sixths,.lap-four-twelfths {
        width: 33.333%
    }

    .lap-two-thirds,.lap-four-sixths,.lap-eight-twelfths {
        width: 66.666%
    }

    .lap-one-quarter,.lap-two-eighths,.lap-three-twelfths {
        width: 25%
    }

    .lap-three-quarters,.lap-six-eighths,.lap-nine-twelfths {
        width: 75%
    }

    .lap-one-fifth,.lap-two-tenths {
        width: 20%
    }

    .lap-two-fifths,.lap-four-tenths {
        width: 40%
    }

    .lap-three-fifths,.lap-six-tenths {
        width: 60%
    }

    .lap-four-fifths,.lap-eight-tenths {
        width: 80%
    }

    .lap-one-sixth,.lap-two-twelfths {
        width: 16.666%
    }

    .lap-five-sixths,.lap-ten-twelfths {
        width: 83.333%
    }

    .lap-one-eighth {
        width: 12.5%
    }

    .lap-three-eighths {
        width: 37.5%
    }

    .lap-five-eighths {
        width: 62.5%
    }

    .lap-seven-eighths {
        width: 87.5%
    }

    .lap-one-tenth {
        width: 10%
    }

    .lap-three-tenths {
        width: 30%
    }

    .lap-seven-tenths {
        width: 70%
    }

    .lap-nine-tenths {
        width: 90%
    }

    .lap-one-twelfth {
        width: 8.333%
    }

    .lap-five-twelfths {
        width: 41.666%
    }

    .lap-seven-twelfths {
        width: 58.333%
    }

    .lap-eleven-twelfths {
        width: 91.666%
    }
}

.landmark {
    margin-bottom: 25px;
    margin-bottom: 1.78571rem
}

.color-primary {
    color: #c59617
}

.text--caps {
    text-transform: uppercase !important
}

.h5,.wysiwyg h5 {
    font-size: 18px;
    font-size: 1.28571rem
}

.wysiwyg ul,.wysiwyg ol {
    margin-bottom: 2em
}

.wysiwyg ol {
    list-style-type: decimal
}

.wysiwyg ul {
    list-style-type: disc
}

.wysiwyg ul,.wysiwyg ol {
    padding-left: 50px
}

.table,.wysiwyg table {
    border-collapse: collapse;
    min-width: 700px
}

.table td,.table th,.wysiwyg table td,.wysiwyg table th {
    padding: 12.5px;
    padding: 0.89286rem;
    border: 1px solid
}

.sup,.wysiwyg sup,.sub,.wysiwyg sub {
    vertical-align: baseline;
    position: relative;
    top: -0.6em;
    font-size: .6em
}

.sub,.wysiwyg sub {
    top: 0.2em
}

.h1,.wysiwyg h1,.h2,.wysiwyg h2,.h3,.wysiwyg h3,.h4,.wysiwyg h4,.h6,.wysiwyg h6 {
    font-family: "BodoniBook","Bodoni MT","Times New Roman","Garamond",serif;
    word-spacing: normal
}

.h1,.wysiwyg h1 {
    line-height: 1.2;
    font-size: 80px;
    font-size: 5.71429rem
}

@media only screen and (max-width: 767px) {
    .h1,.wysiwyg h1 {
        font-size:60px;
        font-size: 4.28571rem
    }
}

.h2,.wysiwyg h2 {
    line-height: 1.2;
    font-size: 60px;
    font-size: 4.28571rem
}

@media only screen and (max-width: 767px) {
    .h2,.wysiwyg h2 {
        font-size:40px;
        font-size: 2.85714rem
    }
}

.h3,.wysiwyg h3 {
    line-height: 1.4;
    font-size: 40px;
    font-size: 2.85714rem
}

@media only screen and (max-width: 767px) {
    .h3,.wysiwyg h3 {
        font-size:26px;
        font-size: 1.85714rem
    }
}

.h4,.wysiwyg h4 {
    line-height: 1.6;
    font-size: 26px;
    font-size: 1.85714rem
}

.h5,.wysiwyg h5 {
    font-size: 18px;
    font-size: 1.28571rem
}

.h6,.wysiwyg h6 {
    font-size: 14px;
    font-size: 1rem
}

.wrapper--wysiwyg {
    max-width: 50em
}

@media only screen and (min-width: 768px) {
    .wrapper--wysiwyg-indent {
        margin:0 50px;
        margin: 0 3.57143rem
    }
}


.btn,.btn--dark,.btn--light,.btn--transparent,.btn--input-wrap {
    text-decoration: none;
    color: black;
    background: #000;
    color: #c59617;
    padding: .1em 1em 0;
    position: relative;
    text-transform: uppercase;
    margin: 5px;
    line-height: 2;
    font-family: "Apres RE",Arial,Times,"Times New Roman",serif;
    font-style: normal;
    font-size: .85em;
    border: 1px solid #999;
    letter-spacing: .05em;
    overflow: visible;
    display: inline-block;
    *display: inline;
    zoom:1;-moz-transform: translateZ(0);
    -o-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
}

.site-teaser-two_up .two-up-static:hover .btn--diamond:before,.site-teaser-two_up .two-up-static:hover .btn--diamond:after,.site-teaser-two_up .two-up-static:hover .btn--diamond>span:before,.site-teaser-two_up .two-up-static:hover .btn--diamond>span:after {
    border-color: #c59617
}

.btn:before,.btn:after,.btn--dark:before,.btn--dark:after,.btn--light:before,.btn--light:after,.btn--transparent:before,.btn--transparent:after,.btn--input-wrap:before,.btn--input-wrap:after {
    left: -1px;
    right: -1px;
    height: 5px
}

.btn:before,.btn--dark:before,.btn--light:before,.btn--transparent:before,.btn--input-wrap:before {
    top: -5px
}

.btn:after,.btn--dark:after,.btn--light:after,.btn--transparent:after,.btn--input-wrap:after {
    bottom: -5px
}

.btn>span:before,.btn>span:after,.btn--dark>span:before,.btn--dark>span:after,.btn--light>span:before,.btn--light>span:after,.btn--transparent>span:before,.btn--transparent>span:after,.btn--input-wrap>span:before,.btn--input-wrap>span:after {
    top: -1px;
    bottom: -1px;
    width: 5px
}

.btn>span:before,.btn--dark>span:before,.btn--light>span:before,.btn--transparent>span:before,.btn--input-wrap>span:before {
    right: -5px
}

.btn>span:after,.btn--dark>span:after,.btn--light>span:after,.btn--transparent>span:after,.btn--input-wrap>span:after {
    left: -5px
}

.btn:hover,.btn--dark:hover,.btn--light:hover,.btn--transparent:hover,.btn--input-wrap:hover {
    cursor: pointer
}

.btn:hover,.btn:active,.btn--dark:hover,.btn--dark:active,.btn--light:hover,.btn--light:active,.btn--transparent:hover,.btn--transparent:active,.btn--input-wrap:hover,.btn--input-wrap:active {
    text-decoration: none
}

.btn:hover:before,.btn:hover:after,.btn:hover>span:before,.btn:hover>span:after,.btn:active:before,.btn:active:after,.btn:active>span:before,.btn:active>span:after,.btn--dark:hover:before,.btn--dark:hover:after,.btn--dark:hover>span:before,.btn--dark:hover>span:after,.btn--dark:active:before,.btn--dark:active:after,.btn--dark:active>span:before,.btn--dark:active>span:after,.btn--light:hover:before,.btn--light:hover:after,.btn--light:hover>span:before,.btn--light:hover>span:after,.btn--light:active:before,.btn--light:active:after,.btn--light:active>span:before,.btn--light:active>span:after,.btn--transparent:hover:before,.btn--transparent:hover:after,.btn--transparent:hover>span:before,.btn--transparent:hover>span:after,.btn--transparent:active:before,.btn--transparent:active:after,.btn--transparent:active>span:before,.btn--transparent:active>span:after,.btn--input-wrap:hover:before,.btn--input-wrap:hover:after,.btn--input-wrap:hover>span:before,.btn--input-wrap:hover>span:after,.btn--input-wrap:active:before,.btn--input-wrap:active:after,.btn--input-wrap:active>span:before,.btn--input-wrap:active>span:after {
    border-color: #c59617
}

.btn:active,.btn--dark:active,.btn--light:active,.btn--transparent:active,.btn--input-wrap:active {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5
}

.btn.disabled,.btn--dark.disabled,.btn--light.disabled,.btn--transparent.disabled,.btn--input-wrap.disabled {
    background: #ededed;
    cursor: not-allowed;
    color: #666
}

.btn--diamond .gold-arrow {
    display: inline-block;
    *display: inline;
    zoom:1;-moz-transform: rotate(-45deg) translate(-6px, 6px);
    -o-transform: rotate(-45deg) translate(-6px, 6px);
    -ms-transform: rotate(-45deg) translate(-6px, 6px);
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px)
}

.gold-arrow {
    background-image: url("https://www.cambriausa.com/public/images/gold-arrow.svg");
    background-position: center center;
    height: 10px;
    width: 10px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover
}

.btn--light {
    background: #fff
}

.btn--diamond {
    height: 40px;
    width: 40px;
    padding: 0;
    text-align: center;
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

.btn:before,.btn:after,.btn>span:before,.btn>span:after,.btn--dark:before,.btn--dark:after,.btn--dark>span:before,.btn--dark>span:after,.btn--light:before,.btn--light:after,.btn--light>span:before,.btn--light>span:after,.btn--transparent:before,.btn--transparent:after,.btn--transparent>span:before,.btn--transparent>span:after,.btn--input-wrap:before,.btn--input-wrap:after,.btn--input-wrap>span:before,.btn--input-wrap>span:after {
    position: absolute;
    content: "";
    background: transparent;
    border: 1px solid #999;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease
}

.btn:before,.btn:after,.btn--dark:before,.btn--dark:after,.btn--light:before,.btn--light:after,.btn--transparent:before,.btn--transparent:after,.btn--input-wrap:before,.btn--input-wrap:after {
    left: -1px;
    right: -1px;
    height: 5px
}

.btn:before,.btn--dark:before,.btn--light:before,.btn--transparent:before,.btn--input-wrap:before {
    top: -5px
}

i {
    font-style: normal
}

body .scrolldiv .check-set label span.title {
    display: block;
    font-family: "BodoniBook", serif;
    color: #818181;
    font-size: 1.3em;
    line-height: 1.2em;
    /* vertical-align: top; */
    padding-top: 10px;
    width: 130px
}

.owl-carousel .owl-wrapper:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0
}

.lg-text .h4 {
    line-height: 1.2
}

.h1,.wysiwyg h1 {
    line-height: 1.2;
    font-size: 80px;
    font-size: 5.71429rem
}

.h2,.wysiwyg h2 {
    line-height: 1.2;
    font-size: 60px;
    font-size: 4.28571rem
}

.h3,.wysiwyg h3 {
    line-height: 1.4;
    font-size: 40px;
    font-size: 2.85714rem
}

@media only screen and (max-width: 767px) {
    .h3,.wysiwyg h3 {
        font-size:26px;
        font-size: 1.85714rem
    }
}

.h4,.wysiwyg h4 {
    line-height: 1.6;
    font-size: 26px;
    font-size: 1.85714rem
}

.overlay__header {
    line-height: 1.2;
    margin-bottom: .2em;
    position: relative
}

.overlay__body-text {
    font-family: "BodoniItalic","Bodoni MT","Times New Roman","Garamond",serif;
    font-size: 1.4em;
    line-height: 1.5
}

@media only screen and (max-width: 1049px) {
    .utility-nav__item,.utility-nav__item--priority {
        border-bottom:3px double #ededed;
        font-family: "BodoniBook","Bodoni MT","Times New Roman","Garamond",serif;
        text-transform: uppercase;
        line-height: 2.6;
        font-size: 14px;
        font-size: 1rem
    }

    .utility-nav__item:after,.utility-nav__item--priority:after {
        content: ">";
        color: #c59617;
        float: right;
        margin-right: 1em
    }

    .utility-nav__item:hover,.utility-nav__item--priority:hover,.utility-nav__item:is-active--always,.utility-nav__item--priority:is-active--always,.utility-nav__item.is-active,.is-active.utility-nav__item--priority {
        border-bottom-color: #ededed
    }
}

.utility-nav .dropdown li a {
    background: #f3f3f3;
    border-bottom: 1px solid #e3e3e3;
    color: black;
    font-family: "BodoniBook", "Bodoni MT", "Times New Roman", "Garamond", serif;
    text-transform: uppercase;
    line-height: 2.6;
    font-size: 14px;
    display: block;
    font-style: normal;
    text-transform: capitalize
}

.filter-header,.filter-footer {
    padding: 0 25px;
    line-height: 50px
}

@media only screen and (max-width: 767px) {
    .filter-header,.filter-footer {
        line-height:56px
    }
}

.wysiwyg {
    line-height: 25px
}

.overlay--left {
    text-align: left
}

@media only screen and (min-width: 768px) {
    .overlay--left {
        padding:50px;
        padding: 3.57143rem;
        margin-left: 0
    }
}
.wysiwyg.overlay__body-text.font-body.font-bodoni--fix.landmark{
    line-height: 21px;
}