.flyout__links {
  display: none;
}

.flyout__links.is-active {
  display: block;
}
.flyout-container.js-flyout-container {
  display: none;
}
.main-nav__item:hover {
  color: white;
}

.utility-nav__item--priority:hover {
  color: #c59617;
  border-bottom-color: #c59617;
}