.module__inner.module__desktop-bg.bg-focus-center.module__desktop-bg-no-mobile {
    background-image: url("../../../images/AboutUs/PressRoom/skara-brae_1550x700_v3.jpg")
}

.divider-diamond.wow.animated {
    visibility: visible;
}

.landmark.wysiwyg h5 {
    text-align: center;
}

.landmark.wysiwyg ul {
    text-align: left;
}

.landmark.wysiwyg li {
    text-align: left;
}

.module__inner.module__desktop-bg.bg-focus-center.module__desktop-bg-no-mobile {
    background-image: url("../../../images/AboutUs/PressRoom/neweventsmodulebackground.jpg")
}

.landmark.wysiwyg h5 {
    text-align: center;
}

.landmark.wysiwyg p {
    text-align: center;
}

.landmark.wysiwyg img {
    height: 26px;
    width: 26px;
}

.footer-mobile__social.h-list {
    padding: 0px;
    padding-top: 50px;
    position: relative;
    left: -4px;
}

.h-list>li {
    float: left;
    margin-right: 4px;
}

.h-list.h-list--piped li {
    margin-right: 0;
    line-height: 1;
}