.grid.lap-three-fifths p {
    text-align: left;
    margin-top: 15px;
    margin-bottom: 15px;
}

.grid.lap-two-fifths h3 {
    text-align: right;
}

.grid.lap-two-fifths p {
    text-align: right;
}

.grid.lap-two-fifths span {
    display: inline-block;
    height: 220px;
    width: 390px;
}

.footer-mobile__social.h-list {
    padding: 0px;
    padding-top: 50px;
    position: relative;
    left: -4px;
}

.h-list>li {
    float: left;
    margin-right: 4px;
}

.h-list.h-list--piped li {
    margin-right: 0;
    line-height: 1;
}